.chat {
  display: inline-block;
  position: absolute;
  transition: all ease .5s;
  right: -50%;
  width: 50vw;
  padding: 60px 0px 0px 60px;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  // color: #828282;

  p{
  margin: 0;
  padding: 0;
  }

  &__outputList{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 80px;
    padding-right: 60px;
  }
}

.slideIn{
  right: 0;
  pointer-events: all;
}