.highlightActions {
  position: sticky;
  top: 50%;
  transform: translate(-140%, -50%);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-items: center;
  background-color: #0E0F11;
  border-radius: 12px;
  width: fit-content;
  padding: 10px 7px;
  transition: all ease-in .2s;
  opacity: 100;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}
